In [1]:
import pandas as pd
import numpy as np

# Importing the movie dataset 

data_movies= pd.read_csv('movies.csv')
display(data_movies)

# Cleaning the movies.csv file

# 1-Check for Duplicates
data_movies.duplicated()
data_movies.duplicated().sum()

# 2-Droping the Duplicats values
data_movies.drop_duplicates()

# 3-Filter rows containing blanks 
# We are using isnull() method to filter out rows containing null values.
data_movies.isnull()
data_movies.isnull().sum()

# We can also use an alternative function isna() to filter out rows containing null values.
data_movies.isna()
data_movies.isna().sum()

data_movies

# The filtered data frame
print(data_movies)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

      movieId                                      title  \
0           1                           Toy Story (1995)
1           2                             Jumanji (1995)
2           3                    Grumpier Old Men (1995)
3           4                   Waiting to Exhale (1995)
4           5         Father of the Bride Part II (1995)
...       ...                                        ...
9737   193581  Black Butler: Book of the Atlantic (2017)
9738   193583               No Game No Life: Zero (2017)
9739   193585                               Flint (2017)
9740   193587        Bungo Stray Dogs: Dead Apple (2018)
9741   193609        Andrew Dice Clay: Dice Rules (1991)

                                           genres
0     Adventure|Animation|Children|Comedy|Fantasy
1                      Adventure|Children|Fantasy
2                                  Comedy|Romance
3                            Comedy|Drama|Romance
4                                          Comedy
...                                           ...
9737              Action|Animation|Comedy|Fantasy
9738                     Animation|Comedy|Fantasy
9739                                        Drama
9740                             Action|Animation
9741                                       Comedy

[9742 rows x 3 columns]

In [2]:
# Importing the ratings dataset 

data_rating = pd.read_csv('ratings.csv')
data_rating
# Cleaning the ratings.csv file

# 1-Check for Duplicates
data_rating.duplicated()
data_rating.duplicated().sum()

# 2-Droping the Duplicats values
data_rating.drop_duplicates()

# 3-Filter rows containing blanks 
# We are using isnull() method to filter out rows cointaning null values.
data_rating.isnull()
data_rating.isnull().sum()

# We can also use an alternative function isna() to filter out rows cointaning null values.
data_rating.isna()
data_rating.isna().sum()

# The filtered data frame
print(data_rating)
data_rating = data_rating.groupby("movieId")["rating"].apply(list)
data_rating

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

movieId
1         [4.0, 4.0, 4.5, 2.5, 4.5, 3.5, 4.0, 3.5, 3.0, ...
2         [4.0, 4.0, 3.0, 3.0, 3.0, 3.5, 4.0, 4.5, 4.0, ...
3         [4.0, 5.0, 3.0, 3.0, 4.0, 5.0, 3.0, 4.0, 3.0, ...
4                       [3.0, 3.0, 3.0, 3.0, 1.0, 2.0, 1.5]
5         [5.0, 3.0, 5.0, 3.0, 4.0, 4.0, 2.0, 3.0, 4.0, ...
                                ...
193581                                                [4.0]
193583                                                [3.5]
193585                                                [3.5]
193587                                                [3.5]
193609                                                [4.0]
Name: rating, Length: 9724, dtype: object

In [3]:
# Importing the tags dataset 

data_tag = pd.read_csv('tags.csv')
data_tag

# Cleaning the tags.csv file

# 1-Check for Duplicates
data_tag.duplicated()
data_tag.duplicated().sum()

# 2-Droping the Duplicats values
data_tag.drop_duplicates()

# 3-filter rows containing blanks 
# We are using isnull() method to filter out rows cointaning null values.
data_tag.isnull()
data_tag.isnull().sum()

#we are using another function isna() to filter out rows cointaning null values.
data_tag.isna()
data_tag.isna().sum()

# The filtered data frame
print(data_tag)

data_tag = data_tag.groupby("movieId")["tag"].apply(list)

      userId  movieId               tag   timestamp
0          2    60756             funny  1445714994
1          2    60756   Highly quotable  1445714996
2          2    60756      will ferrell  1445714992
3          2    89774      Boxing story  1445715207
4          2    89774               MMA  1445715200
...      ...      ...               ...         ...
3678     606     7382         for katie  1171234019
3679     606     7936           austere  1173392334
3680     610     3265            gun fu  1493843984
3681     610     3265  heroic bloodshed  1493843978
3682     610   168248  Heroic Bloodshed  1493844270

[3683 rows x 4 columns]

In [4]:
#Merging all the the three datasets according to our requirement 

#Merging movie and rating dataset
data_merge1= pd.merge(data_movies,data_rating, on = 'movieId')
data_merge1
#Merging movie+rating and tag dataset
data_merge= pd.merge(data_merge1,data_tag, on = 'movieId')
data_merge

#Fixing the genres coloumn withe the help of str.split()
data_merge['genres']= data_merge['genres'].str.split('|')

In [5]:
#Function to search for Similar Movie Retrieval and enhancing Similar Movie Retrieval ! 

def funct(c1,c2):
    c1 = list(c1)[0]
    flag = 0
    for i in c1:
        for j in c2:
            if(i == j):
                flag = 1

    return flag

In [ ]:
y= 1
while y!= 0:
    
    X=int(input("Enter the movie id: "))
    data_find= data_merge[data_merge.movieId == X]
    print("\n")
    check = X in data_merge['movieId'].unique()
    if check == 1:
        lis = []
        lis1=[]
        l=[]
        #first genres search
        for i in range(0,len(data_merge)):
            
            c2 = data_merge.iloc[i,:].genres  
            c1=data_find.genres
    
            if(funct(c1,c2)==1):
               lis.append(i)
                
        data_col=data_merge.iloc[lis,:]
        
       #rating search 
        for i in range(0,len(data_col)):
            c2 = data_col.iloc[i,:].rating
            c1=data_find.rating
    
            if(funct(c1,c2)==1):
                lis1.append(i)

        data_collect = data_col.iloc[lis1,:]           #TASK 1 (b)
    
    
              #tag based
        for i in range(0,len(data_merge)):
            c2 = data_merge.iloc[i,:].tag  
            c1=data_find.tag
    
            if(funct(c1,c2)==1):                      #TASK 1 (c)
                l.append(i)

        data_tagcollect = data_merge.iloc[l,:] 
        
        
        data_find = data_merge[data_merge.movieId == X]
        print("The movie deatials equivalent to movieId is",X,"is :")
        display(data_find)
        print("The List of Movies and their details which are similar to movie ",data_find.title.to_string(index=False),"is :")
        display(data_collect)
        print("The List of Movies and their details which are similar to movie ",data_find.title.to_string(index=False),
              "based on its tags is :" )
        display(data_tagcollect)
        
    else:
        print("The movie id ",X," is not present in the filtered dataFrame ")
        
        
       
    y= int(input("Enter 0 to exit the search  or 1 to continue : "))

Enter the movie id: 1


The movie deatials equivalent to movieId is 1 is :

,movieId,title,genres,rating,tag
0,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]","[4.0, 4.0, 4.5, 2.5, 4.5, 3.5, 4.0, 3.5, 3.0, ...","[pixar, pixar, fun]"

The List of Movies and their details which are similar to movie  Toy Story (1995) is :

,movieId,title,genres,rating,tag
0,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]","[4.0, 4.0, 4.5, 2.5, 4.5, 3.5, 4.0, 3.5, 3.0, ...","[pixar, pixar, fun]"
1,2,Jumanji (1995),"[Adventure, Children, Fantasy]","[4.0, 4.0, 3.0, 3.0, 3.0, 3.5, 4.0, 4.5, 4.0, ...","[fantasy, magic board game, Robin Williams, game]"
2,3,Grumpier Old Men (1995),"[Comedy, Romance]","[4.0, 5.0, 3.0, 3.0, 4.0, 5.0, 3.0, 4.0, 3.0, ...","[moldy, old]"
3,5,Father of the Bride Part II (1995),[Comedy],"[5.0, 3.0, 5.0, 3.0, 4.0, 4.0, 2.0, 3.0, 4.0, ...","[pregnancy, remake]"
4,7,Sabrina (1995),"[Comedy, Romance]","[4.0, 3.0, 2.0, 4.0, 4.0, 1.0, 3.0, 5.0, 3.0, ...",[remake]
...,...,...,...,...,...
1549,183611,Game Night (2018),"[Action, Comedy, Crime, Horror]",[4.0],"[Comedy, funny, Rachel McAdams]"
1550,184471,Tomb Raider (2018),"[Action, Adventure, Fantasy]","[3.5, 0.5, 3.0, 3.0]","[adventure, Alicia Vikander, video game adapta..."
1551,187593,Deadpool 2 (2018),"[Action, Comedy, Sci-Fi]","[5.0, 4.0, 5.0, 2.5, 4.5, 5.0, 5.0, 4.0, 1.0, ...","[Josh Brolin, Ryan Reynolds, sarcasm]"
1552,187595,Solo: A Star Wars Story (2018),"[Action, Adventure, Children, Sci-Fi]","[4.0, 4.0, 3.5, 3.0, 5.0]","[Emilia Clarke, star wars]"
1553,193565,Gintama: The Movie (2010),"[Action, Animation, Comedy, Sci-Fi]",[3.5],"[anime, comedy, gintama, remaster]"

The List of Movies and their details which are similar to movie  Toy Story (1995) based on its tags is :

,movieId,title,genres,rating,tag
0,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]","[4.0, 4.0, 4.5, 2.5, 4.5, 3.5, 4.0, 3.5, 3.0, ...","[pixar, pixar, fun]"
77,296,Pulp Fiction (1994),"[Comedy, Crime, Drama, Thriller]","[3.0, 1.0, 5.0, 2.0, 4.0, 1.0, 3.0, 4.0, 3.0, ...","[good dialogue, great soundtrack, non-linear, ..."
1439,89745,"Avengers, The (2012)","[Action, Adventure, Sci-Fi, IMAX]","[2.0, 4.0, 4.0, 5.0, 4.0, 3.5, 4.5, 4.0, 3.0, ...","[Captain America, silly, superhero, superhero ..."
1479,108932,The Lego Movie (2014),"[Action, Adventure, Animation, Children, Comed...","[1.0, 4.0, 2.5, 5.0, 3.5, 5.0, 3.5, 4.5, 4.5, ...","[cheeky, clever, colorful, feel-good, fun, ima..."
1506,122918,Guardians of the Galaxy 2 (2017),"[Action, Adventure, Sci-Fi]","[4.0, 1.0, 4.0, 3.5, 4.0, 4.0, 3.5, 4.5, 5.0, ...",[fun]